.header .container .title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 36px;
}
.header .container .tabs {
  display: flex;
  justify-content: space-around;
  width: 60%;
  min-width: 500px;
  margin: 0 auto;
  border-bottom: 1px solid #BDBDBD;
}
.header .container .tabs button {
  width: 90px;
  background: none;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  transition: all ease-in-out 0.3s;
  border-bottom: 3px solid #FFFFFF;
  padding: 0 0 8px 0;
}
.header .container .tabs button.active {
  color: #2F80ED;
  border-bottom: 3px solid #2F80ED;
}
.input .container .input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 60%;
  min-width: 500px;
  margin: 0 auto;
}
.input .container .input-wrapper input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 20px 12px;
  border: 1px solid #BDBDBD;
  border-radius: 12px;
  width: 540px;
  color: #828282;
}
.input .container .input-wrapper input:focus {
  outline: none;
  border: 2px solid #2f81edad;
}
.input .container .input-wrapper button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 20px 39px;
  border: none;
  background: #2F80ED;
  color: #FFFFFF;
  border-radius: 12px;
}
.todos .container .todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  min-width: 500px;
  margin: 0 auto;
}
.todos .container .todo .left {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.todos .container .todo .left p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.todos .container .todo .left p.done {
  text-decoration: line-through;
  color: #888888;
}
.todos .container .todo .right button {
  background: none;
  border: none;
  color: #BDBDBD;
}
.todos .container .todo .right button:hover {
  color: #d30c0cee;
}
.delete-all .container .wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
  min-width: 500px;
  margin: 0 auto;
}
.delete-all .container .wrapper button {
  background: #EB5757;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  padding: 12px 26px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
}
.delete-all .container .wrapper button:hover {
  background: #d82c2c;
}
.delete-all .container .wrapper button span {
  font-size: 14px;
}
